@import "tokens/colors.css";
@import "tokens/clock.css";
@import "tokens/audio.css";
@import "tokens/workspace.css";
@import "tokens/music.css";


* {
    margin: 0;
    padding: 0;
    min-height: 0px;
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
}

window#waybar {
    background: transparent;
}