@import "colors.css";

#pulseaudio {
    margin: 5px 6px 1px 0px;
    padding: 3px 14px;
    background-color: @surface_container;
    color: @secondary_fixed_dim;
    border-radius: 12px;
    font-size: 13px;
    font-weight: bold;
}

#pulseaudio.muted {
    background-color: @surface_container;
    color: @outline;
}