@import "colors.css";

#custom-timer {
    margin: 5px 6px 1px 0px;
    padding: 3px 10px;
    background-color: @surface_container;
    color: @secondary_fixed_dim;
    border-radius: 12px;
    font-size: 13px;
    font-weight: bold;
    transition: all 0.2s ease;
}

#custom-timer.inactive {
    color: @outline;
    background-color: @surface_container;
}

#custom-timer:hover {
    background-color: @surface_container_high;
    color: @primary;
}

#custom-timer.active {
    color: @primary;
}

#custom-timer.warning {
    color: @tertiary;
}

#custom-timer.urgent {
    color: @error;
    background-color: @error_container;
}

#custom-timer.done {
    color: @on_error_container;
    background-color: @error_container;
}
